/.bundle/
/.idea/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/spec/sensitive-fixtures/
.ruby-gemset
.ruby-version
config/honeybadger.yml
config/settings.local.yml
config/settings/*.local.yml
warnings*.log
/data/
!/data/grants/.keep
!/data/pubs/.keep
!/data/raw/grants/.keep
!/data/raw/pubs/.keep
log
