/.bundle/
/.idea/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/spec/sensitive-fixtures/
.ruby-gemset
.ruby-version
config/settings.local.yml
config/settings/*.local.yml
